<h1>Editing scholarship_code</h1>

<%= render 'form' %>

<%= link_to 'Show', [@scholarship_code.department, @scholarship_code] %> |
<%= link_to 'Back', department_scholarship_codes_path(@scholarship_code) %>
