<h1>Editing registration</h1>

<%= render 'form' %>

<%= link_to 'Show', [@registration.section.course.department, @registration.section.course, @registration.section, @registration] %> |
<%= link_to 'Back', department_course_section_path(@registration.section.course.department, @registration.section.course, @registration.section) %>
